@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    
    --color-primary: #134B70;
    --color-secondary: #508C9B;
    --color-accent: #EEEEEE;
}

